.App {
  display: flex;
  flex-direction: column;
  max-width: 100% !important;
  align-items: center;
  padding: 2% 10%;
}
.main-avatar {
  width: 235px !important;
  height: 300px !important;
  filter: drop-shadow(3px 3px 3px gray);
  transition: all ease-in-out 0.3s !important;
}
.main-avatar:hover {
  transform: scale(1.2);
}
.socials {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.social-btn {
  margin: 0 10px !important;
  transition: all ease-in-out 0.3s !important;
}
.social-btn:hover {
  transform: scale(1.1);
}
.name-paper {
  margin-top: 15px;
  padding: 5px 20px;
  border-radius: 7px !important;
  border: 0.4px solid rgb(76, 100, 235);
  filter: drop-shadow(3px 3px 3px gray);
  transition: all ease-in-out 0.3s !important;
}
.name-paper:hover {
  transform: scale(1.2);
}
.about {
  margin-top: 10px;
  padding: 10px;
  width: 28%;
  text-align: center !important;
  transition: all ease-in-out 0.3s !important;
}
.about:hover {
  transform: scale(1.1);
}

/* iPad mini */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .about {
    width: 40% !important;
  }
  .section-btn {
    padding: 0 10px 0 10px !important;
    font-size: 10px !important;
    width: 80% !important;
  }
  .section-icon {
    display: inline !important;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .about {
    width: 50% !important;
  }
  .section-btn {
    padding: 0 10px 0 10px !important;
    font-size: 10px !important;
    width: 80% !important;
  }
  .section-icon {
    display: inline !important;
  }
}
/* iPhone 6 and above */
@media only screen and (min-device-width: 375px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .about {
    width: 100% !important;
  }
  .section-btn {
    padding: 0 10px 0 10px !important;
    font-size: 10px !important;
    width: 80% !important;
  }
  .section-icon {
    display: none;
  }
  .website-btn {
    width: 77% !important;
  }
  .website-icon {
    width: 12%;
    margin-left: 7px !important;
  }
  .code-btn {
    width: 78% !important;
    margin: 0px 0px 5px 5px !important;
  }
  .code-icon {
    width: 15%;
    margin-left: 7px !important;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .about {
    width: 75% !important;
  }
  .section-btn {
    padding: 0 10px 0 10px !important;
    font-size: 10px !important;
    width: 80% !important;
  }
  .section-icon {
    display: inline !important;
  }
  .website-btn {
    width: 32% !important;
  }
  .website-icon {
    width: 11%;
    margin-left: 7px !important;
  }
  .code-btn {
    width: 40% !important;
  }
  .code-icon {
    width: 18%;
    margin-left: 7px !important;
  }
}
.college-text {
  padding: 3%;
}
.name-paper h1 {
  font-weight: 400 !important;
}
.image {
  width: 10%;
  position: relative;
  left: 3% !important;
  top: 8px !important;
}
/* Skills */
.skill-item {
  transition: all ease-in-out 0.3s !important;
  margin: 2px 0px !important;
}
.skill-item:hover {
  transform: scale(1.1);
}

/* Courses */
.course-item {
  transition: all ease-in-out 0.3s !important;
  margin: 3px 3px !important;
}
.course-item:hover {
  transform: scale(1.1);
}

/* Projects */
.code-btn {
  width: 30%;
}

.code-icon {
  width: 13%;
  margin-left: 7px !important;
}

.website-btn {
  margin-left: 7px !important;
  width: 25%;
}
.website-icon {
  width: 15%;
  margin-left: 7px !important;
}

/* Experience */
